@tailwind base;
@tailwind components;

@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
html {
  overflow: hidden;
}

body {
  @apply font-sans text-text-001;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input {
  all: unset;
}

.btn {
  @apply py-2 px-4 rounded-3xl font-bold text-sm;
  min-width: fit-content;
  /* box-shadow: 0px 4px 13.5px 0px #4d248040; */
}

.btn-primary {
  @apply bg-primary text-white hover:bg-primary-001;
}

.btn-disabled {
  @apply bg-text-004 text-white cursor-not-allowed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
